body {
    background-color: #F5F5F5 !important;
    font-family: 'Inter', sans-serif !important;
}

p {
    font-family: 'Inter', sans-serif !important;
}

h1 {
    font-family: 'Inter', sans-serif !important;
}

h2 {
    font-family: 'Inter', sans-serif !important;
}

h3 {
    font-family: 'Inter', sans-serif !important;
}

h4 {
    font-family: 'Inter', sans-serif !important;
}

h5 {
    font-family: 'Inter', sans-serif !important;
}

h6 {
    font-family: 'Inter', sans-serif !important;
}

a {
    font-family: 'Inter', sans-serif !important;
    text-decoration: none !important;
}

/* .btn-primary {
    color: black !important;
    background-color: blanchedalmond !important;
    border: blanchedalmond !important;
} */

.hobj:hover {
    border: 1px solid #acacac !important;
    transition: 1s;
}